<!DOCTYPE html>
<html>

<head>
	<title>MyLoc</title>
	<script defer
		src="https://maps.googleapis.com/maps/api/js?key={{.Key}}&callback=console.debug&libraries=maps,marker&v=beta&loading=async">
		</script>
	<link rel="stylesheet" href="style.css">
</head>

<body>
	{{template "nav.html"}}
	<h1>My Location</h1>
	<gmp-map center="1.3467093706130981,103.77416229248047" zoom="17" map-id="LOC_MAP_ID">
		<gmp-advanced-marker position="1.3467093706130981,103.77416229248047" title="Main Entrance"></gmp-advanced-marker>
		<gmp-advanced-marker position="1.3460384788439832, 103.77331987146817"
			title="Lobby B Entrance"></gmp-advanced-marker>
	</gmp-map>
	{{template "footer.html"}}
</body>

</html>