gmp-map {
    height: 50%;
    width: 70%;
}

html,
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: x-large;
    height: 100%;
    margin: 0;
    padding: 0;
}