gmp-map {
    height: 50%;
    width: 70%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #119;
}

nav li a:active {
    background-color: #04AA6D;
}

html,
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: x-large;
    height: 100%;
    margin: 8px;
}

footer {
    margin-top: 8px;
    font-size: small;
}
